/*----- FONTS -----*/
@font-face {
    font-family: "Bebas Neue";
    src: url("../../fonts/BebasNeue.ttf");
}
@font-face {
    font-family: "Outfit";
    src: url("../../fonts/Outfit.ttf");
}
/*----------------*/



*{
    margin:0; padding: 0; box-sizing: border-box;
    transition: all 0.13s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: Outfit, monospace;
    background: rgba(210,210,210,0.4);
   
}
li{
    cursor: pointer;
}
a{
text-decoration: none;

}
button{
    cursor: pointer;
    border:none;

}
main{
    display: flex;
    width:100%;
     justify-content: center;
}

.introductory-image{
background-color: aqua;
width:100%;
height:50vh;
max-height: 1300px;
min-height: 300px;
position: relative;
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
display: flex;
align-items: center;
box-shadow: 0 15px 20px 0 gray;
z-index: -1;
}

.introductory-image__heading{
    color:white;
    font-size:3.5em;
    margin-left: 1em;
   display: flex;
    align-items: center;
    gap:0.3em;

    --before-color: darkcyan;
}
.introductory-image__heading::before{
    content:"";
    display: block;
    width: 10px;
    height: 100px;
    background:var(--before-color);
}
#page-header{
    background-color: rgb(3, 29, 39);
    height:45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:20px;   
    position: sticky;
    top:0;
    
}
#page-header__hamburger-icon{
   background:transparent;
  margin-left: 20px;
}
.hamburger-icon__middle-line{
 width: 20px;    
 height: 4px;
 background:white;
 display: block;
}
#page-header__hamburger-icon::before,#page-header__hamburger-icon::after{
  content:"";
  width:20px;
  display: block;
  background:white;  
  height:4px;
  margin: 7px 0;
}
.query-group{
    display: flex;
    gap:0;
}
.query-group *{
    display: block;
    margin:0;
}
.query-group__submit-btn{
    height:30px;
    padding:0 0.5em;
    font-family: "Bebas Neue", monospace;
    font-size: 1.1em;
    letter-spacing: 0.06em;
    background:rgb(15, 149, 202);
    border:none;

}
#query-input{
    height: 30px;
    padding: 0 10px;
}

.page-header__sections-navs{
    margin-left: 20px;
}
.page-header__sections-navs ul{
    list-style: none;
    display: flex;
    gap: 0.7em;
    font-size: 1.3em;  
    font-family:"Bebas Neue", monospace;
    letter-spacing: 0.06em;
    width: 100%;

}.page-header__sections-navs li a{
    color:white;
}




.article-element{
    color:black;
    background: white;
    box-shadow: 0 0 10px 0 gray;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    "img img img"
    "title title title"
    "description description description"
    ". . source";
    gap: 30px;
    border:1px solid rgb(180,180,180);
    max-width: 1000px;
    margin-right: 0.4em;
}
.article-element img{
    grid-area: img;
    width: 100%;
}
.article-element__title{
    grid-area: title;
    padding: 0 0.2em;

}
.article-element__description{
    grid-area: description;
    margin-bottom: 0.5em;
    padding: 0 0.2em;
    
}
.article-element__source{
    grid-area: source;
    font-family: "Bebas Neue", monospace;
    font-size: 1.2em;
    box-sizing: border-box;
    padding: 0.2em 1em;
    align-self: end;
    margin-bottom: 0.5em;
    background: darkcyan;
    display: block;
    color:white;
    letter-spacing: 0.06em;
    display: block;
    margin-right: 0.4em;
}

.article-element *{
    width: fit-content;
    height: fit-content
}




.articles-group{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    font-size: 20px;
    margin: 2em 0;
    
}


.page-header__sections-navs{
    position: absolute;
    overflow: hidden;
    top:0;
    flex-direction: column;
    max-width: 250px;
    width: fit-content;
    height: 100vh;
    background:red;
    left:0;
    margin:0;
    padding: 4em 0;
    background: rgb(2, 36, 49);
    border-right: 3px solid rgb(5, 116, 160);;
}
.sections-navs__close-btn{
    background-color: transparent;
    border:none;
    padding: 0.3em 1em;
    margin: 0 0 3em calc(7em);
    color:white;
    font-family: inherit;
    font-size: 1.2em;
    display: none;
    
}
.page-header__sections-navs ul{
    flex-direction: column;
    gap: 20px;
    width: 0;
    height:100%;

}
.page-header__sections-navs ul li{
 padding: 0.3em 0;
}
.page-header__sections-navs ul a{
    color:white;
    padding: 0.5em 1.4em;
    
}
/*--- Transitions ---*/

#query-input:focus{
    border: none;
    outline:rgb(15, 149, 202) 1px solid;
}



.page-header__sections-navs li:hover{
    transform: scale(1.2);
    width: 100%;
    display: block;
}
.page-header__sections-navs li:focus{
    background: rgb(15, 149, 202);
}


/*-------------------*/
/*---MEDIA QUERIES---*/
/*Tablets\*/
@media screen and (min-width: 700px) {
   

}

/*Laptops\*/
@media screen and (min-width: 1024px){
 #page-header__hamburger-icon{
     display: none;
 }    

 .page-header__sections-navs{
    margin-left: 20px;
    position: static;
    background:transparent;
    border:none;
    padding:0;
    overflow: visible;
    max-width: 100vw;
    height: 100%;
}
.page-header__sections-navs ul{
    list-style: none;
    display: flex;
    gap: 0.7em;
    font-size: 1.3em;  
    font-family:"Bebas Neue", monospace;
    letter-spacing: 0.06em;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.sections-navs__close-btn{display: none;}
.page-header__sections-navs ul li{
    padding: 0;
   }
   .page-header__sections-navs ul a{
     padding:0;
       
   }

   .article-element{
    color:black;
    background: white;
    box-shadow: 0 0 10px 0 gray;
    box-sizing: border-box;
    
    display: grid;
    grid-template-areas: "img title title"
                         "img description description"
                         "img . source";
    column-gap: 10px;
    border:1px solid rgb(180,180,180);
    max-width: 1500px
}
.article-element img{
    grid-area: img;
}
.article-element__title{
    grid-area: title;
    margin-top: 0.5em;
}
.article-element__description{
    grid-area: description;
    margin-bottom: 0.5em;
}
.article-element__source{
    grid-area: source;
    font-family: "Bebas Neue", monospace;
    font-size: 1.2em;
    box-sizing: border-box;
    padding: 0.2em 1em;
    align-self: end;
    margin-bottom: 0.5em;
    background: darkcyan;
    display: block;
    color:white;
    letter-spacing: 0.06em;
    margin-right: 0.4em;
}
.article-element__img{
    height:50px;
    display: block;
    
}
.article-element *{
    width: fit-content;
    height: fit-content
}

 
}
/*Large Screens\*/
@media screen and (min-width: 1300px) {

}
/*-------------------*/
